<% @comment= comment if defined?(comment) # de phan biet duoc reaction cua cmt hay micropost%>
<span class="wrap-reaction">
  <%= link_to image_tag("https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png", size: "40", class: "emoji"),
              reaction_index_path(target_reaction_params(1)), method: :post, remote: true %>
  <%= link_to image_tag("https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png", size: "40", class: "emoji"),
              reaction_index_path(target_reaction_params(2)), method: :post, remote: true %>
  <%= link_to image_tag("https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png", size: "40", class: "emoji"),
              reaction_index_path(target_reaction_params(3)), method: :post, remote: true %>
  <%= link_to image_tag("https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png", size: "40", class: "emoji"),
              reaction_index_path(target_reaction_params(4)), method: :post, remote: true %>
  <%= link_to image_tag("https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png", size: "40", class: "emoji"),
              reaction_index_path(target_reaction_params(5)), method: :post, remote: true %>
  <%= link_to image_tag("https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png", size: "40", class: "emoji"),
              reaction_index_path(target_reaction_params(6)), method: :post, remote: true %>
</span>
