<h1>Sample App</h1> <p>Hi <%= @notification.user.name%> </p> <p>
  You have 1 notification
</p>
<div class="notification-item">
	<span class="user"><%= link_to @user.name, @user %></span>
	<span class="content">
      <%="da #{@notification.source_type.downcase}"  %>
		<div><%= time_ago_in_words(@notification.source.created_at) %> ago.</div>
    </span>
	<h4 class="item-title"><%=@notification.source_type %></h4>
</div>