<li id="comment-<%=comment.id%>">

  <% not_reply=defined?(cmt).nil? %>
  <% @comment=comment %>
  <%= link_to gravatar_for(comment.user, size: 30), comment.user %>
  <span >
    <%= link_to comment.user.name, comment.user %>
    <%= comment.content %>
  </span>
  <span class="timestamp">
    <span>
      <span class="container-react">
        <%= render 'reaction/cmt_reaction_bar' %>
        <span class="comments-but-1">
          <%= render 'reaction/cmt_reaction_icon' %>
          <% if not_reply %>
            <a id="reply-<%=comment.id%> " role="button">Trả lời</a>
          <% end %>
          <% if current_user?(comment.user) %>
          <%= link_to "delete", comment, method: :delete,
                      data: {confirm: "You sure?"} %>
          <% end %>
        </span>
      </span>
    </span>


    <span style="padding-left: 300px;" >Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>

  </span>
  <% if comment.replies.any? && not_reply%>
    <ul style="list-style-type:none;">
      <%= render comment.replies , cmt: 1 %>
    </ul>
  <% end %>
  <div>
    <% if not_reply%>
      <%= render 'shared/comment_form' %>
    <% end %>
  </div>
</li>
