<a class="content" href="#">
	<% user_create_action = user_create_action(notification) %>
	<div class="notification-item">
		<%= link_to gravatar_for(user_create_action, size: 50), user_create_action %>
		<span class="user"><%= link_to user_create_action.name, user_create_action %></span>
		<span class="content"> <%= "da #{notification.source_type.downcase}" %></span>
		<div><%= time_ago_in_words(notification.source.created_at) %> ago.</div>
		<h4 class="item-title"><%= notification.source_type %></h4>
		<p class="item-info"><%= item_info(notification) %></p>
	</div>
</a>