<li id="micropost-<%= micropost.id %>">
  <% @micropost = micropost %>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if can? :destroy, micropost %>
        <%= link_to "delete", micropost, method: :delete,
                    data: {confirm: "You sure?"} %>
    <% end %>
  </span>
  <div>
    <span class="reaction-cls"><%= render "reaction/reaction" %></span>
  </div>
  <div id="micropost-cmtbar-<%= micropost.id %>">
    <ul style="list-style-type:none;" id="micropost-cmtlist-<%= micropost.id %>" class="micropost-cmtlist">
    </ul>
  </div>
</li>
